@mixin getRedBox($BoxSize, $BackColor:red){
    width: $BoxSize;
    height: $BoxSize;
    background: red;
    background: $BackColor;
}
@mixin addHover($borderColor:grey) {
    &:hover {
        border: 2px solid $borderColor;
    }
}
@mixin  getScheme($withChild) {
    width: 20px;
    height: 20px;
    background: blue;
    @if $withChild{
        .children {
            color: white;
        }
    }
}