.test {
  width: 200px;
  color: red;
}

.parent {
  width: 200px;
  height: 100px;
  background: yellow;
}

.parent .child {
  background: blue;
}

.parent {
  background: red;
}

.parent .child {
  background: blue;
}

.box {
  width: 200px;
  height: 100px;
  background: green;
}

.box-blue {
  background: blue;
}

.box-100 {
  width: 100px;
  height: 100px;
  background: red;
  background: red;
}

.box-100:hover {
  border: 2px solid grey;
}

.box-200 {
  width: 200px;
  height: 200px;
  background: red;
  background: green;
}

.box-200:hover {
  border: 2px solid blue;
}

.grandFather, .grandSon {
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 3px;
}

.grandSon {
  font-size: 30px;
}

.sector {
  height: 270px;
  width: 270px;
  background: pink;
}

.fontX10 {
  font-size: 10px;
}

.fontX11 {
  font-size: 11px;
}

.fontX12 {
  font-size: 12px;
}

.fontX13 {
  font-size: 13px;
}

.fontX14 {
  font-size: 14px;
}

.fontX15 {
  font-size: 15px;
}

.fontX16 {
  font-size: 16px;
}

.fontX17 {
  font-size: 17px;
}

.fontX18 {
  font-size: 18px;
}

.fontX19 {
  font-size: 19px;
}

.fontX20 {
  font-size: 20px;
}

.fontX10 {
  font-size: 10px;
}

.fontX12 {
  font-size: 12px;
}

.fontX14 {
  font-size: 14px;
}

.fontX16 {
  font-size: 16px;
}

.fontX18 {
  font-size: 18px;
}

.fontX20 {
  font-size: 20px;
}

.test1 {
  width: 20px;
  height: 20px;
  background: blue;
}

.test2 {
  width: 20px;
  height: 20px;
  background: blue;
}

.test2 .children {
  color: white;
}

.text {
  color: yellow;
  font-size: 20px;
}

@media (max-width: 768px) {
  .text {
    color: green;
  }
}
/*# sourceMappingURL=styles.css.map */