@import "./variable.scss";
@import "./mixins.scss";

.test{
    width: $widthBlock;
    color: $colorText;
}
.parent {
    width: $widthBlock;
    height: 100px;
    background: yellow;
    .child {
        background: blue;
    }
}
.parent{
    background: red;
    .child {
        background: blue;
    }
}
.box {
    width: $widthBlock;
    height: 100px;
    background:green;
&-blue{
        background:blue;
    }
}
.box-100 {
    @include getRedBox(100px);
    @include addHover();
}
.box-200 {
    @include getRedBox(200px,green);
    @include addHover(blue);
}
.grandFather {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 3px;
}
.grandSon {
    @extend .grandFather;
    font-size: 30px;
}
.sector {
    height: $heidthBlock+$widthBlock;
    width: $heidthBlock+$widthBlock;
    background: pink;
}
@for $i from 10 through 20 {
    .fontX#{$i}{
        font-size: $i+px;
    }
}
@for $i from 10 through 20 {
    @if $i%2==0 {
        .fontX#{$i}{
            font-size: $i+px;
        }
    }
}
.test1{
    @include getScheme(false);
}
.test2{
    @include getScheme(true);
}

.text{
    $color_768: green;
    color: $color;
    font-size: 20px;
    @media (max-width: 768px){
        color: green;
    }
}

